################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hackathon_21_110_0032
[Tt]emporaryAspFiles
/packages

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
src/GitVersion.txt
/BackUp/Sites/Hackathon_21_110_0032
/TemporaryAspFiles/Hackathon_21_110_0032
/Hackathon/.vs/Hackathon
/TemporaryAspFiles/Acu2021r110
Customization
