################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hackathon
/Hackathon_21_110_0032
/TemporaryAspFiles/Hackathon_21_110_0032/root/228e8bb7/f5bd2919
/TemporaryAspFiles/Hackathon_21_110_0032/hackathon_21_110_0032/20bbc265/c53fb2b4
